In [18]:
print("AKB")

AKB

Day 3 (MD-1)

In [19]:
name_input = input()
print("Hello, welcome" , name_input)

Hello, welcome

In [20]:
a = bool(str(float(-2)))
print (a, type(a))

True <class 'bool'>

In [21]:
print ("Hello, World")
a = int("4")
print (a, type(a))

Hello, World
4 <class 'int'>

In [27]:
a = 4
b = a + 8
a+= 9
a

13

In [31]:
x = 5
y = 10.2
z = x + y
type (z)

x = "Bo Bo"
type(x)

a = 6 ** 2 // 4
b = int(isinstance(a, int))
a+= 8
print (b-a)

-16

### Day 4

In [17]:
not True
not (False)
True and True
True and False
False and False

2>3 and 4>4

True or True
False or True
True or False

a = 5
b = 4
print(a != b-1 or b**2 > 4)

True

In [24]:
first_number = int(input ("Enter first number: "))
second_number = int(input ("Enter second number: "))
added_result = first_number + second_number
print(added_result)

6

In [ ]:
a = float(input("Enter room temperature C"))
b = (9/5 * a) + 32
print(b)

In [56]:
temp_c = float (input("Enter room temperature in celsius"))
temp_f = (9/5 * temp_c) + 32
ans    = "Room temperature is " + str( temp_f ) + " F"
print (ans)

Room temperature is 68.9 F

In [46]:
temp_celcius = float (input("Enter room temperature in celsius"))

temp_romer = temp_celcius + 0.8
temp_fareheit = temp_celcius*1.8 + 32
temp_kelvin = temp_celcius + 273

print("C =", temp_celcius)
print("F =", temp_fareheit)
print("R =", temp_romer)
print("K =", temp_kelvin)

C = 20.5
F = 68.9
R = 21.3
K = 293.5

Maths Functions

In [50]:
abs(-12)
abs(223)
abs(-2.0)

2.0

In [52]:
max(23, 4, -2, 0)
min(-23, 2, 78)

-23

In [55]:
round(2.45 , 1)
round(-2.4525 , 3)
round(1242, -3)

1000

Turtle Library

In [ ]:
import turtle

In [ ]:
turtle.forward(200)

Day5

In [ ]:
PI = 3.14
MATH_E = 2.7

#Conditionals

In [9]:
if 5!= 4 and 5>3:
    print("Hola")
print("WON")

if not 5!= 4 and 5>3:
        print("Hola")
        print("WON")

Hola
WON
Hola
WON

In [11]:
if 5!= 4 and 6>3 :
    if 5>4:
        print ("Nooooooo")
    print("Yesssss")
print("Wowwww")

Nooooooo
Yesssss
Wowwww

In [ ]:
if 3 != 4 and 4 != 5 and 5 != 6:
    print

#Else
If you use If and else, if condition is true, there will be no output from else

In [ ]:
if 3 > 4:
    print("TRUE")
else:
    print("FALSE")

ELIF

In [16]:
if 2>3:
    print("A")
elif 3>5 :
    print ("B")
elif 5<3 :
    print ("C")
elif 4>5 :
    print ("D")
else:
    print ("E")

E

In [21]:
pocket_money = int(input("Enter your pocket money: "))
age = int(input("Enter your age: "))

if pocket_money > 3000:
    print ("Cavier and foie gras")
    print ("Wine")
elif pocket_money  > 700:
    print ("Buffet")
    elif age
    print ("Beer")
elif pocket_money > 100:
    print ("Fried Rice")
elif pocket_money < 10:
    print ("Go Back home & eat Mama")

Go Back home & eat Mama

In [28]:
n = int (input("enter number between -1000 and 1000: "))
print (n + 1)

11

You are given three positive integers a
, b
 and c
 which are the sides of the triangle. Print the perimeter of this triangle.

Input
The first line contains a positive integer a
, the second line contains a positive integer b
 and the third line contains a positive integer c
 (1≤a,b,c≤1000
).

Output
Output a single positive integer — the perimeter of a triangle with the given sides.

In [31]:
a = int(input())
b = int(input())
c = int(input())
perimeter = a + b + c
print(perimeter)

20

In [32]:
n = int(input())
print(n+1)

6

You are given two positive integers a
, b
 which are the sides of the rectangle. Print the area of this rectangle.

Input
The first line contains a positive integer a
 and the second line contains a positive integer b
 (1≤a,b≤1000)
.

Output
Output a single positive integer — the area of a rectangle with the given sides.

In [33]:
a = int(input())
b = int(input())
area = a * b
print(area)

20

Input
The first line contains a positive integer n
 (1≤n≤1000
) — the number of apples.

The second line contains a positive integer m
 (1≤m≤1000
) — the number of students in the camp.

Output
Output a single positive integer — the number of apples each students gets after an even distribution of apples.

In [36]:
no_apples = int(input())
no_students = int(input())
c = no_apples//no_students
print(c)

2

The supervisor brought some apples to the programming camp and wants to distribute them among the students. You are given two positive integers n
 and m
, where n
 is a number of apples and m
 is a number of students. The supervisor wants to distribute apples evenly so that every student gets the same number of apples. At the same time, he wants this number to be as large as possible. Your task is to calculate the number of apples that will remain after such distribution.

Input
The first line contains a positive integer n
 (1≤n≤1000
) — the number of apples.

The second line contains a positive integer m
 (1≤m≤1000
) — the number of students in the camp.

Output
Output a single integer — the number of apples that will remain after an even distribution of apples.

In [38]:
no_apples = int(input())
no_students = int(input())
c = no_apples % no_students
print(c)

0

In [39]:
price = int(input())
discount = price % 10
print(discount)

9

New houses in the country Imaginationland have a special number system for flats. Every house has 10
 floors and there are 10
 flats on each floor. Each flat has a two-digit number, a first digit is a floor number and the second digit is a flat number on this floor. For example, the flat with number 34
 is on the third floor and the flat with number 70
 is on the seventh floor. Your task is to write a program which, given a flat number, prints the floor number.

Input
The only line contains a positive integer n
 (10≤n≤99
) — the flat number.

Output
Output a single positive integer — the floor for the given flat number.

In [46]:
flat_no = input()
floor_no = int(flat_no[0])
print(floor_no)

4

Bob has just found a garden with n
 magical flowers. Bob knows that every day the number of magical flowers triples. He is interested in the number of magical flowers in the garden if he comes back k
 days later.

Input
The first line contains a positive integer n
 (1≤n≤100
) — the current number of magical flowers .

The second line contains a positive integer k
 (1≤k≤10
) — the number of days after which Bob plans to visit the garden again.

Output
Output a single positive integer — the number of magical flowers in the garden if Bob returns k
 days later.

In [43]:
no_flowers = int(input())
no_days = int(input())

no_flowers_left = no_flowers*(3 ** no_days)
print(no_flowers_left)

15

no_hours =

In [49]:
no_mins = int(input())
no_hrs = no_mins // 60
no_mins_final = no_mins % 60

print(no_hrs)
print(no_mins_final)

2
50

:

Input
The only line contains a single positive integer T
 (1≤T≤50
) — the current temperature.

Output
Print "CANCEL SCHOOL" if T>35
, "CANCEL TWO CLASSES" if T>30
, and "NORMAL CLASSES" otherwise.

In [32]:
C_temp = float(input())

if C_temp > 35 :
        print("CANCEL SCHOOL")
    
elif C_temp > 30 :
        print("CANCEL TWO CLASSES")
    
else :
    print ("NORMAL CLASSES")

NORMAL CLASSES

In [43]:
first_coins = int(input())
sec_coins = int(input())
third_coins = int(input())

min_coins = min (first_coins, sec_coins, third_coins)
all_coins = (first_coins + sec_coins + third_coins)

total = (all_coins - min_coins)

print (total)

155

In [35]:
lucky_no = int(input())
if lucky_no % 7 == 0 and lucky_no % 11 != 0:
    print("YES")

else:
    print("NO")

NO

In [48]:
current_time = int(input())
if current_time >= 5 and current_time <= 9 :
    print("OPEN")

else :
    print ("CLOSED")

CLOSED

In [51]:
left_socks = int(input())
right_socks = int(input())
no_pairs = min (left_socks , right_socks)

print(no_pairs)

10

In [54]:
score = int(input())

if 0 <= score <= 40 :
     print ("Emerging")

elif 41 <= score <= 80 :
     print ("Developing")

elif 81 <= score <= 100 :
     print ("Achieved")

Achieved

In [59]:
no_apples     = int(input())
no_oranges    = int(input())
size_firstbag = int(input())
size_secbag   = int(input())

if size_firstbag and size_secbag >= no_apples and no_oranges :
    print ("YES")

else:
    print ("NO")

YES

In [63]:
no_apples     = int(input())
no_oranges    = int(input())
size_firstbag = int(input())
size_secbag   = int(input())

big_bag = max(size_firstbag , size_secbag)
small_bag = min(size_firstbag , size_secbag)
more_cakes = max(no_apples, no_oranges)
less_cakes = min(no_apples, no_oranges)

if big_bag >= more_cakes and small_bag >= less_cakes :
    print ("Yes")
else:
    print ("NO")

Yes

In [76]:
number = int(input())
while 1<= number <= 1000:
    print (number)
    number -= 1

7
6
5
4
3
2
1

In [ ]:
number = int(input())
final_value = 
while 1<= number <= 1000 :
    print (number)
    number

In [3]:
no_flat = int(input())
no_floor = no_flat // 10

print(no_floor)

7

Day - 6

In [ ]:
# FOR LOOP ( You know where to start)
# WHILE LOOP ( You don't know where to start)

while CONDITION :
    ACTION 

Number = 1
while number <= 10:
    print (number)
    number += 1

In [8]:
number = 2
while number <= 20:
    print (number)
    number += 2

2
4
6
8
10
12
14
16
18
20

In [12]:
number = 1
while number <= 20:
    if number % 2 == 0:
        print (number)
    number += 1

2
4
6
8
10
12
14
16
18
20

In [13]:
# 1 
# Continue won't never watch under this
# Pass is for WIP (No effect on code)

number = 1
while True:
    print(number)
    if number % 3 == 0 and number %2 == 0 :
        break
    number += 1

1
2
3
4
5
6

For Loop
range ( start, stop, step)

For variable_name in range (STH):\
Do_something

In [14]:
range(6) # 0,1,2,3,4,5
range(0) # Nothing
range(-3) # Nothing
range(5,2) # Nothing
range (3,9,2) # 3,5,7

range (10, -1. -1) #10,9,8,7,6,5,4,3,2,1,0
range (-3, 7, 3) # -3, 0, 3, 6

range(0, 6)

In [15]:
for number in range(5):
    print(number)

for number in range(20,5,-3)

0
1
2
3
4

In [28]:
for number in range (1, 11) :
    print(number * number)
    #print (number **2 )

1
4
9
16
25
36
49
64
81
100

In [29]:
while True:
    for i in range(10):
        while True:
            if True:
                pass
            elif True:
                pass

KeyboardInterrupt:

In [11]:
n = int(input())
total_sum = 0

for i in range (1 , n + 1) :
    total_sum += (i * i)

print(total_sum)

1
5
14
30

In [ ]:
n = int(input)

You are given two non-negative integers a
 and b
. Print all even integers from a
 to b
 in ascending order.

For example, if a=2
 and b=9
, the numbers to print are 2
, 4
, 6
, and 8
.

Input
The first line contains a non-negative integer a
, the second line contains a non-negative integer b
 (0≤a,b≤1000,a<b)
.

Output
Print all even integers from a
 to b
 in ascending order, each on a separate line.

In [11]:
a = int(input())
b = int(input())

for i in range(a , b + 1):
     if i % 2 == 0 :
        print (i)

8
10
12
14
16
18

In [2]:
n = int(input())
total_sum = 0

for numbers in range (n):
    numbers = int(input())
    total_sum += number

print (total_sum)

27

In [17]:
n = int(input())
num_zero = 0

for numbers in range (n) :
    numbers = int(input())
    if numbers == 0 :
        num_zero += 1


print(num_zero)

2

for num in range

In [21]:
num_heros = int(input())

total = 0

for i in range(1,num_heros + 1):
    total += i

for ex_heros in range (num_heros - 1):
    ex_heros = int(input())
    total -= ex_heros


print(total)

5

In [ ]:
for num in range(5):
    print(num)
    num = int(i)

In [ ]:
n = int(input())
total_sum = 0
 
for num in range (n):
    numbers = int(input())
    total_sum += numbers
 
print (total_sum)

Day - 7

In [1]:
for i in range( 2 , 5) :
    for j in range ( 2 , 6 , 2) :
        print( i , j)

2 2
2 4
3 2
3 4
4 2
4 4

In [10]:
i = 2
while i < 5:
    for j in range (1, 5, 2):
        print (i,j)
        i += 1

2 1
3 3
4 1
5 3

In [8]:
for i in range(5) :
    for j in range(1, i) :
        print(i * j)

2
3
6
4
8
12

STRING

In [16]:
quote = ""

s1 = "Hello,  "
s2 = "Bo"
s1 + s2 

s3 = "Bo "
s3 * 6

'Bo Bo Bo Bo Bo Bo '

In [20]:
s3 = "Bo"
len(s3)

2

Indexing

In [23]:
s = "Hello World!"
s[7]

'o'

SLICING

In [24]:
s = "Hello, world!"
s [1:4]
s [1 : 2340359]

'ell'

In [2]:
a = input()
b = input()
bob_ans = a + b
cor_ans = int(a) + int(b)

print(bob_ans , cor_ans)

76 13

In [4]:
a = int(input())
b = int(input())
bob_ans = str(a) + str(b) 
cor_ans = a + b

print(bob_ans , cor_ans)

12 3

In [36]:
s = input()
i = int(input())
one_word = s[i-1]

print(one_word)

c

Day 8

F String (String Format)
in / Not in Operator

In [11]:
user_name = input()
age = input()

greeting_msg = "Hello, " + user_name + ". Your age is" + age

greeting_msg_f = f"Hello, {user_name}. Your age is {age}. "
print(greeting_msg)
print(greeting_msg_f)

greeting_msg.split()

Hello, Aung. Your age is1222
Hello, Aung. Your age is 1222.

['Hello,', 'Aung.', 'Your', 'age', 'is1222']

In [12]:
s = "I love chicken!"
print ("I" in s)

True

In [17]:
s = "I love chicken!"
s.split("o")

['I l', 've chicken!']

Loop through String

In [18]:
s = "I love chicken"
for character in s:
    print (character)

I

l
o
v
e

c
h
i
c
k
e
n

In [22]:
s = "I love chicken"
for i in range(14):
    print (s[i]) 
 
s = "I love chicken"
for i in range(len(s)):
    print (s[i])

I

l
o
v
e

c
h
i
c
k
e
n
I

l
o
v
e

c
h
i
c
k
e
n

In [23]:
s = "I love chicken"
for i in range(len(s)):
    print (s[i])

I

l
o
v
e

c
h
i
c
k
e
n

In [24]:
s = "I love chicken"
for i, character in enumerate(s):
    print(i, character)

0 I
1
2 l
3 o
4 v
5 e
6
7 c
8 h
9 i
10 c
11 k
12 e
13 n

You are given a string s
 consisting of lowercase Latin letters and a letter a
. The length of the string is even.

Insert the given letter a
 in the middle of the given string s
. Print the resulting string.

Input
The first line contains a non-empty string s
 consisting of lowercase Latin letters. The length of the given string is even and does not exceed 1000
.

The second line contains a letter a
.

Output
Print the resulting string.

In [27]:
s = input()
a = input()

for 



result = b + a + c
print(result)

abbac

In [38]:
s = input()
mid_point = len(s) //2 
first_half = s [ : mid_point]
sec_half = s [mid_point : ]

result = (sec_half + first_half)
print(result)

defabc

In [4]:
s = input()
a = input()
mid_letter = len(s) // 2

fir_gp = s [ : mid_letter]
sec_gp = s [mid_letter : ]
result = (fir_gp + a + sec_gp)
print (result)

aba

In [17]:
s = input()
mid = len(s) // 2
first_letter = mid - 1
result = s[first_letter : first_letter +3]
print(result)

xyz

In [16]:
s = input()
mid = len(s) // 2
first_letter = mid - 1
result = s[first_letter:first_letter + 3]
print(result)

xyz

In [18]:
s = input()
for i in range(len(s)):
    print (s[i])

h
e
l
l
o

In [20]:
s = input()
result = s.find("f")
print (result)

1

In [25]:
record = input()
a = record.count("A")
b = record.count("B")
if a > b :
    print("ALICE")
elif b > a :
    print ("BOB")
elif a == b :
    print ("DRAW")

DRAW

In [21]:
s = input()
a = len(s) // 2
isP = True

for i in range(a) :
    if s[i] != s[-(i+1)] :
        isP = False

if isP == True:
    print ("YES")
else:
    print ("NO")

YES

In [ ]:
s = input()
result = f{ }

In [28]:
s = input()
b = '_'.join(s)
print (b)

h_e_l_l_o

In [37]:
s = input()
a = ""
for character in s :
    a = a + character + "_"

result = a[ : len(a) - 1]
print(result)

a_b_c

Day 9

# remove (No need index and can remove)
# pop (Need index and can remove)

In [46]:
s = [1,2,3]
s.append(4)
s

s.insert(0,"true")
s

s.extend([5,4])
s

['true', 1, 2, 3, 4, 5, 4]

In [48]:
l = [1, 2, 0.5, None, "Vetit"]
count_of_one = l.count(1)

for i in range(count_of_one) :
    l.remove(1)

l

[2, 0.5, None, 'Vetit']

In [52]:
l = [1, 2, 0.5, None, "Vetit"]
l[1] == 3
l

[1, 2, 0.5, None, 'Vetit']

In [2]:
l = [1, 2, 0.5, None, "Vetit"]
new_list = []

for element in l:
    if element != 1:
        new_list.append(element)
new_list

[2, 0.5, None, 'Vetit']

*l(List_Extractor)

In [7]:
l = [1, 2, 0.5, None, "Vetit"]
print(*l)

zero = [10] * 10
hero = [10] + [20]
hero

1 2 0.5 None Vetit

[10, 20]

In [ ]:
l = [ 1, 0. 1. 0]
l = list(map(int, input(). split))

In [9]:
t = (1,2,3,4)
one_element_list = [2]
one_element_tuple = (2,)

type(one_element_tuple)

tuple

### Set & Dictionary

In [7]:
empt_set = set()
non_set = {1, 2, 3, 3}
list = [1, 2, 3, 3]

print (non_set)
print (list)

{1, 2, 3}
[1, 2, 3, 3]

In [9]:
s1 = {1,1,2,3}
s1.add(4)
s1

{1, 2, 3, 4}

In [ ]:
s = {1,2,4} >> # 0(1)
l = [1,2,4] >> # 0(n)

###Functions

In [ ]:
def calculate_price(num_apples) :
    apple_price = 60
    return num_apples * apple_price

In [ ]:
total_price = calculate_price()
print (f 'The total price is {total_price}')

***args and **kwargs
args for unspecified positonal arguments
Kwargs for unspecified keyword arguments

In [5]:
def greeting(a = 1, b = 2, c = 3, **kwargs) :
    print("Hello", a, b, kwargs["e"])

greeting(e = 4, f = 6)

Hello 1 2 4

In [2]:
def square(x : float) :
    return x **2

square(2)

4